@import '../../../../assets/scss/variables.scss';

@keyframes fade-in {
    0% {
      transform: translateX(80px);
    }
    100% {
    transform: translateX(0);
    }
  }

.header{
    box-shadow: 0px 2px 9px rgba(144, 144, 144, 0.952);
    background: $bg-secondary; 
    img {
        max-width: 30px;
    }

    .signout {
        font-weight: 600;
    }

    img.img96px {
        max-width: 96px;
    }

    .user {
        font-weight: 600;
        padding: 1em 0!important;
    }

    .userBox {
        animation: fade-in 0.3s;
    }

    
}