@import "../../../scss/placeholders.scss";
@import "../../../scss/variables.scss";

@keyframes moove {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 300px;
  }
}
.login {
  color: $col-primary;
}

h2.h2{
  color: white;
}

form {
  max-width: 300px;
  animation: moove 0.5s;
}

.loginBtn {
  background-color: #2a2c2e!important;
  border-color: 1px solid $bg-secondary;
  
}
