@import "../../../../assets/scss/placeholders.scss";
@import "../../../../assets/scss/variables.scss";

@keyframes moove {
  0% {opacity: 0}
 100% {opacity: 1}
}

.form_signin{
  max-width: 300px;
  margin: auto;
}

form {
  max-width: 300px;
  animation: moove 0.3s;
}


