@import '../../../scss/placeholders.scss';
@import '../../../scss/variables.scss';

@keyframes moove {
    0% {max-width:  0}
    90%, 100% {max-width: 300px}
  }
.login {
    color: $col-primary;

   
    
}
// label {
//     color: white;
// }

form {
    max-width: 300px;
    animation: moove 0.5s;

}
