@import '../../../scss/placeholders.scss';
@import '../../../scss/variables.scss';

@keyframes moove {
  0% {transform: translateY(-300px)}
  90%, 100% {transform: translateY(0px)}
}

.about {
  color: $col-primary;
  overflow: hidden;
   
}
article.cont {
  animation: moove 1s!important;
}
  .title{
    font-size: 24px;
  }
 
