@import '../../../scss/variables.scss';

.tasks {
    color: $col-primary;
    [class^="col-"] {
        background: linear-gradient(45deg, #61dafb, rgba(10, 54, 80, 0.88));
        border-radius: 15px;
    }
}
