@import './variables.scss';
@import './resets';
@import './placeholders.scss';

html, body{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;    
}

:global{
  #root{
    height: 100%;
  }
  .container{
    background-color: $bg-primary;
    height: 100%;
    overflow: auto;
    .wrapper{
      width: 70%;
      margin: auto;
      padding-bottom: 20px;
    }
  }    
}

@media (max-width: $mobile-width){
  :global{
    .container .wrapper{
      width: calc(100% - 40px);
      padding: 0 20px;
    }
  }  
}
