@import '../../../scss/placeholders.scss';

@keyframes moove {
  0% {transform: translateX(-300px)}
 100% {transform: translateX(0)}
}

.home{
  overflow: hidden;
  color: #ffffff;
  .title{
    font-size: 24px;
  }  
  .logo{
    text-align: center;
    img{
      width: 100%;
      max-width: 700px;
    }
  }
  [class^="col-"] {
    animation: moove .8s;
    height: 150px;
    background: linear-gradient(45deg,  #61dafb, rgba(10, 54, 80, 0.88));    
    color: white;
  }

  [class^="row"] {
    margin: 0!important;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    button{
      @extend .button;
      width: calc(50% - 25px);
    }
  }  
}

@media (max-width: $mobile-width){
  .buttons{
   flex-direction: column;
   .button{width: 100%; margin: 10px 0;}
  } 
}
